# Lists

In [6]:
a=[1,2,3,4,5,'dhruv',5+2j]
for i in a:
    print(i)

1
2
3
4
5
dhruv
(5+2j)

In [7]:
for i in range(len(a)):
    print(a[i])

1
2
3
4
5
dhruv
(5+2j)

In [8]:
for i in range(len(a)):
    print(f"Value = {a[i]} and data type is {type(a[i])}")

Value = 1 and data type is <class 'int'>
Value = 2 and data type is <class 'int'>
Value = 3 and data type is <class 'int'>
Value = 4 and data type is <class 'int'>
Value = 5 and data type is <class 'int'>
Value = dhruv and data type is <class 'str'>
Value = (5+2j) and data type is <class 'complex'>

Indexing

In [9]:
#SLICING
list=[1,2,3,4.0,'Aashish',2+6j]
print(list[3:])

[4.0, 'Aashish', (2+6j)]

In [12]:
print(list[0::2])

[1, 3, 'Aashish']

In [33]:
list=[1,2,3,4.5,'Aashish',2+6j,'Vishakha']
for i in range(0,6,2):
    print(i , list[i])

0 1
2 3
4 Aashish

In [29]:
for i in range(-1,-len(list)-1,-1):
    print(i,list[i])

-1 (2+6j)
-2 Aashish
-3 4.5
-4 3
-5 2
-6 1

In [34]:
# print only 1 5 6 value
for i in [1,5,6]:
    print(list[i])

2
(2+6j)
Vishakha

UPDATING LIST ELEMENT AT SPECIFIC INDEX

In [36]:
my=[1,2,3,4,5,'chanda','Balloo']
my[4]=99.0 # mutable operation
print(my)

[1, 2, 3, 4, 99.0, 'chanda', 'Balloo']

In [37]:
my[-2]='Viishakha'
print(my)

[1, 2, 3, 4, 99.0, 'Viishakha', 'Balloo']

In [38]:
b=[10,20]
x=my+b # 2 LIST KO ADD KR DIYA X KE  ANDAR
print(x)

[1, 2, 3, 4, 99.0, 'Viishakha', 'Balloo', 10, 20]

BASIC LIST METHODS

In [39]:
#LEN METHOD
A=[1,2,3,4,5,'chanda','Balloo']
print(len(A))

7

In [43]:
#empty list
a=[]
print(len(a))

0

In [5]:
#empty list
b = list() 
for i in range(10):
    user=input("Enter the item you want to purchase ")
    b=b+[user]
print(b)

Enter the item you want to purchase a
Enter the item you want to purchase b
Enter the item you want to purchase
Enter the item you want to purchase vf
Enter the item you want to purchase
Enter the item you want to purchase
Enter the item you want to purchase d
Enter the item you want to purchase d
Enter the item you want to purchase d
Enter the item you want to purchase d
['a', 'b', '', 'vf', '', '', 'd', 'd', 'd', 'd']

In [2]:
a=int(input("Enter the number you want to add "))
v = list()
for i in range(a):
    user_input=input("Enter the item in list")
    v=v+[user_input]
print(v)

Enter the number you want to add 5
Enter the item in lista
Enter the item in listf
Enter the item in listg
Enter the item in listd
Enter the item in lists
['a', 'f', 'g', 'd', 's']

In [3]:
#while loop se kra
a=int(input("Enter the number you want to add "))
v = list()
i=0
while i<a:
    user_input=input("Enter the item in list")
    v=v+[user_input]
    i=i+1
print(v)

Enter the number you want to add 2
Enter the item in lista
Enter the item in listb
['a', 'b']

CHECK MEMBERS IN A LIST

In [8]:
a=[1,2,'hello']
if '6' in a:
    print("TRUE")
else:
    print("No, Adding to the list")
    a=a+['6']
print(len(a))

No, Adding to the list
4

max()

In [11]:
list1=['dhruv','aashish','beenu']
list2=[5,6,7,8,9,0]
list3=['a','b','d','A']
print(max(list1))
print(max(list2))
print(max(list3)) #because of ascii value
print(min(list1))

dhruv
9
d
aashish

Q. print the name with highest name of character

In [14]:
List=['dhruv','aashish','beenu','deepali']
max_len=0;
result=""
for i in List:
    if len(i)>max_len:
        max_len=len(i)
        result=i
print(result)

aashish

APPEND

In [16]:
a=[1,2,77]
a.append(99)
print(a)

[1, 2, 77, 99]

In [17]:
b=[1,2,3,4]
b.append(['hello','Dhruv']) # it will be added as a list
print(b)

[1, 2, 3, 4, ['hello', 'Dhruv']]

In [1]:
list_of_item=list()
n=int(input("No of item you want to add"))
for i in range(n):
    user_input=input("Enter the items")
    list_of_item.append(user_input) #RECOMMENDED WAY
print(list_of_item)

No of item you want to add5
Enter the itemspem
Enter the itemsh
Enter the itemsk
Enter the itemsd
Enter the itemse
['pem', 'h', 'k', 'd', 'e']

POP

In [22]:
a=[5,6,3,'Dhruv']
a.pop(0)
print(a)

[6, 3, 'Dhruv']

Remove the odd numbers

In [25]:
a=[1,24,56,11]
for i in a:
    if i%2!=0:
        a.pop()
print(a)

[1, 24, 56]

SORT AND REVERSE METHOD

In [27]:
A=[1,2,9,0,3,0.5]
A=sorted(A)
print(A)

[0, 0.5, 1, 2, 3, 9]

In [28]:
b=[1,2,9,0,3,0.5]
b.sort()
print(b)

[0, 0.5, 1, 2, 3, 9]

In [3]:
A=[1,2,9,0,3,0.5]
A.sort(reverse=True)
print(A)

[9, 3, 2, 1, 0.5, 0]