# NESTED OF THE LIST

In [1]:
#LIST INSIDE A LIST
A=[[1,2,3],[11,12,13],[14,0,9,]]
print(A[0])
print(A[1][1])

[1, 2, 3]
12

In [5]:
a=[[1,2,3],[11,12,13,[55,100]],[14,0,9,]]
print(a[1])
print(a[1][3])
print(a[1][3][0])

[11, 12, 13, [55, 100]]
[55, 100]
55

In [8]:
a=[[1,2,3],[11,12,13,[55,100,'hii']],[14,0,9,]]
print(a[1][3][2])
print(a[-2][-1][-1])

hii
hii

In [10]:
amazon_cart=[['watch',5000],['phone',1000],['cell',800]]
total_cost=0
total_cost=amazon_cart[0][1]+amazon_cart[1][1]+amazon_cart[2][1]
print(total_cost)

6800

In [15]:
total=0
for i in range(len(amazon_cart)):
    print(amazon_cart[i][1])
    total=total+amazon_cart[i][1]
print(total)

5000
1000
800
6800

In [16]:
total=0
for i in amazon_cart:
    print(i[1])
    total=total+i[1]
print(total)

5000
1000
800
6800

# LIST COMPREHENSION

In [22]:
#Q-LIST WHICH CONTAINS LIST OF SQUARES OF NO'S B/W 1 TO 10

A=[1,2,3,4,5,6,7,8,9,10]
b=list();
for i in A:
    b.append(i**2)
print(b)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
ans=[i**2 for i in A]
print(ans)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [24]:
#Q- ONLY TAKE THE SQUARE OF ODD NO IN THE LIST
ans=list()
for i in A:
    if i%2!=0:
        ans.append(i**2)
print(ans)

[1, 9, 25, 49, 81]

In [26]:
ans=[i**2 for i in A if i%2!=0]
print(ans)

[1, 9, 25, 49, 81]

# COUNT

In [27]:
a=[1,2,3,4,3,5,1,3,1]
print(a.count(1))

3

In [29]:
a=[1,2,3,4,3,5,[7,7],[7,7],1,3,1]
print(a.count([7,7]))

2

In [30]:
b=[1,2,3,4,3,5,1,3,1]
for i in b:
    print(i,b.count(i))

1 3
2 1
3 3
4 1
3 3
5 1
1 3
3 3
1 3

In [31]:
a='Dhruv'
for i in a:
    print(i,a.count(i))

D 1
h 1
r 1
u 1
v 1

EXTEND METHOD

In [33]:
A=[1,2,3]
B=[11,22,33]
A.extend(B) #permanent operation,inplace assignment
print(A)

[1, 2, 3, 11, 22, 33]

INDEX METHOD

In [34]:
A=[1,2,3,4,56,'Dhruv',1+2j]
print(A.index('Dhruv'))

5

In [35]:
#Q- what is the index of complex number
A=[1,2,3,4,56+2j,'Dhruv',1+2j]
for i in range(len(A)):
    if type(A[i])==complex:
        print(i)

4
6

In [58]:
A=[1,2,3,4,56,'Dhruv',1+2j,3,3] #duplicate elements
print(A.index(3))

2

In [59]:
A=[1,2,3,4,56,[45,55],'Dhruv',1+2j]
print(A[5].index(45))

0

 INSTANCE METHOD

In [36]:
#Approach 2
for i in A:
    if isinstance(i,complex):
        print(A.index(i))

4
6

In [53]:
#Q-print the index all the complex and integer
A=[1,2,3,4,56+2j,'Dhruv',1+2j]
print(type(A[5]))
for i in A:
    if type(i)== int or type(i)==complex:
        print(A.index(i))

<class 'str'>
0
1
2
3
4
6

In [56]:
#approach 2
for i in A:
    if isinstance(i,(complex,int)):
        print(A.index(i))

0
1
2
3
4
6

INSERT

In [60]:
A=[1,2,3,4,5]
A.insert(2,'Dhruv')
print(A)

[1, 2, 'Dhruv', 3, 4, 5]

REMOVE

In [61]:
A=[1,2,455,3,4,5]
A.remove(455)
print(A)

[1, 2, 3, 4, 5]

[1, 2, 3, 5]

# TUPLES

In [87]:
A=(1,2,3)
print(type(A))

<class 'tuple'>

In [69]:
a=(22,12,34,1)
b=sorted(a)
print(type(b))
print(len(a))

<class 'list'>
4

In [70]:
print(max(a))
print(a.index(34))

34
2

In [8]:
# user what they want to purchase
amazon_website=[('watch',1000),('phone',3000),('laptop',4000),('shirt',220)]
cost=0
n=int(input("How many item you want to purchase"))
for i in range(0,n):
    user=input("enter a item")
    for i in amazon_website:
        if i[0] == user:
            cost=cost+i[1]
print(cost)

How many item you want to purchase2
enter a itemphone
enter a itemlaptop
7000

# SETS

In [2]:
X={1,2,3,4,5}
#empty set
a=set()
print(type(a))

<class 'set'>

In [3]:
X.add(99)
print(X)

{1, 2, 3, 4, 5, 99}

In [4]:
a=[1,2,3,3,4,4]
a=set(a)
a=list(a)
print(a)

[1, 2, 3, 4]